<% provide(:title, 'Acerca') %>
<!DOCTYPE html>
<html>
  <head>
    <title>Sueños Colectivos | Nosotros</title>
  </head>
  <body>
    <h1>Vista de prueba</h1>
    <p>
      Esta es la página de información sobre los creadores
    </p>
  </body>
</html>