<% provide(:title, 'Inicio') %>
<!DOCTYPE html>
<html>
  <head>
    <title>Sueños Colectivos | Home</title>
  </head>
  <body>
    <div class="center hero-unit">
      <h1>Bienvenidos</h1>
      <h2>Esta es la página de inicio de <a href="http://emol.com/">Suenhos Colectivos</a></h2>

    	<%= link_to "Registrate", signup_path, class: "btn btn-large btn-primary" %>

      <div>
        <%= link_to image_tag("prueba.png", alt: "Rails", :width => 100, :height => 64), 'http://www.emol.com/' %>
      </div>

    </div>
  </body>
</html>