<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo:</strong>
  <%= @producer_type.tipo %>
</p>

<%= link_to 'Edit', edit_producer_type_path(@producer_type) %> |
<%= link_to 'Back', producer_types_path %>
