
<div class="navbar">
  <div class="navbar-inner">
    <ul class="nav">
      <li class="divider-vertical" id="/ideasSubheader"><%= link_to "Ideas", ideas_path %></li>
      <li class="divider-vertical" id="/dreamsSubheader"><%= link_to "Sueños", dreams_path %></li>
    </ul>
  </div>
</div>